<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contect Us</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap">
</head>
<body>
    <header class="main">
        <div>
            <ul>
                <li class="active"><a href="Home Page.html">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Gallery</a></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <div class="contact-box">
            <div class="left"></div>
            <div class="right">
                <h2>Contect Us</h2>
                    <input type="text" class="field" placeholder="Your Name">
                    <input placeholder="Your Birthdate" class="field" type="text" onfocus="(this.type='date')" id="date">
                    <input type="email" class="field" placeholder="Your Email">
                    <input type="phone" class="field" placeholder="Your Phone">
                    <textarea class="field area" placeholder="Message"></textarea>
                    <label for="gender" class="field2">Gender:</label>
                    <input type="radio" name="gender" class="field2" value="Male"> Male
                    <input type="radio" name="gender" class="field2" value="Female"> Female
                    <button class="btn">Send</button>
            </div>
        </div>
    </div>
</body>
</html>