<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="Hp Style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap">
</head>
<body>
    <header class="main">
        <div>
            <div class="logo">
                <img src="../Static/49249627694a443897a7486482582a06.png">
            </div>
            <h2>Welcome to Web Course</h2>
            <ul>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="Contact Us.html">Contact Us</a></li>
            </ul>
        </div>
    </header>
    
</body>
</html>