*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

header{
    background-image: url(../Static/wallpaper2.jpg);
    height: 100vh;
    background-size:  cover;
    background-position: center;
}

ul{
    list-style-type: none;
    float: right;
    margin: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: .3s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

ul li.active a{
    background-color: #fff;
    color: #000;
}

.logo img{
    float: left;    
    width: 120px;
}

h2{
    position: absolute;
    top:6%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 40px;
}

main{
    max-width: 1200px;
    margin: auto;
}