<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contect Us</title>
</head>
<body>
    <div class="container">
        <div class="contact-box" style="background-color: blueviolet;">
            <strong style="padding-top: 15px;">Contect Us</strong>
            <form action="URL" method="post">
                <input type="text" id="FirstName" name="FirstName" placeholder="First Name"><br>
                <input type="text" id="LastName" name="LastName" placeholder="Last Name"><br>
                <input type="email" id="email" name="email" placeholder="Your Email"><br>
                <input type="text" id="Phone" name="Phone" placeholder="Your Phone"><br>
                <textarea class="field area" id="message" name="message" placeholder="Message"></textarea><br>
                <button class="btn">Send</button><br>
                <h2>אל תשחטו אותי על דקורציה :)</h2>
            </form>
        </div>
    </div>
</body>
</html>