<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
    </head>

<body>
    <header style="border: 14px; background-color: burlywood; color-adjust: display; font-size: larger;">Home Page</header>
    <div class="Important" style="background-color: darkorange; font-size:28px; border:2px solid tomato">
        <p style="background-color: bisque;">Welcome To My Home Page</p>
        <strong style="background-color: aquamarine;">This is my first homework</strong><br>
            <nav class="Linking elements">
                <a href="Connection.html" target="_top">content us</a><br>
            </nav>
        </div>  
    <img src="C:\Users\Lior\Documents\My Web Projects\LiorYosef\static\1. Home Work\SaudiA-1_web.jpg" width="600px">
</body>
</html>